.hero-section{
    display: flex;
    flex-direction: column;
    background-image: url('/hero-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    float: left;
    width: 100%;
    color: white;
};


.hero-main {
    // width: 80%;
    // background-color: red;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: pin;

    .hero-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }

    h4{
        font-size: 1.6rem;
        font-weight: 400;
    }
    h2{
        font-size: 2rem;
        font-weight: 600;
        background: linear-gradient(0deg, #6575E4, #9257B9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

    div{
        width: 70%;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        p{
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.brand-logos-slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;

    .brand-logo img{
        width: 65%;
    }
}

.talk-export-btn{
    width: auto;
    margin: 0 auto;
}

.hero-bottom-cards{
    width: 100%;
}

.card-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 35vh;
    transform: translateY(-80px);
    overflow: hidden;
    // position: relative;
    .left-side{
        width: 40%;
        display: flex;

        .card-one{
            width: 50%;
            float: left;
            transform: translate(-60px, 0px);
            background-image: url('/dashboard1.png');
            background-repeat: no-repeat;
            background-size: contain;
            &:hover{
                transition: all ease-out;
                cursor: pointer;
            }
        }

        .card-two{
            width: 50%;
            float: left;
            transform: translate(-100px, 50px);
            // transform: translateY(50px);
            background-image: url('/dashboard2.png');
            background-repeat: no-repeat;
            background-size: contain;
            &:hover{
                transition: all ease-out;
                cursor: pointer;
            }
        }

       

        
    }

     .right-side{
            width: 60%;
            display: flex;
            overflow: hidden;

            .card-three{
                width: 38%;
                float: left;
                background-image: url('/dashboard3.png');
                background-repeat: no-repeat;
                background-size: contain;
                transform: translate(130px, 40px);
                &:hover{
                    transition: all ease-out;
                    cursor: pointer;
            }
        }

         .card-four{
                width: 33%;
                float: left;
                background-image: url('/dashboard4.png');
                background-repeat: no-repeat;
                background-size: contain;
                transform: translate(90px, 30px);
                z-index: 999;
                &:hover{
                    transition: all ease-out;
                    cursor: pointer;
            }
        }

        .card-fifth{
                width: 36%;
                float: right;
                background-image: url('/dashboard5.png');
                background-repeat: no-repeat;
                background-size: contain;
                transform: translate(60px, 0px);
                z-index: 999;
                &:hover{
                    transition: all ease-out;
                    cursor: pointer;
            }
        }
    
        
 
    }}